/* Asegúrate de que el body ocupe toda la altura */
body {
  margin: 0;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Para apilar los elementos verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  background-color: #0adcdf; /* Fondo verde */
}

/* Botón */
.base-button {
  padding: 10px 20px;
  background-color: #007acc;
  color: rgb(237, 243, 243);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.base-button:hover {
  background-color: #005f99;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004a6f;
  color: rgb(236, 240, 240);
  padding: 10px 20px;
  width: 100%; /* Hace que el header ocupe todo el ancho */
  max-width: 1200px; /* Limita el ancho máximo si lo deseas */
  box-sizing: border-box; /* Asegura que el padding no se salga del ancho */
}

/* Logo */
.logo {
  width: 50px;
  height: auto;
}

/* Section */
.section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #06b1d7;
  border-radius: 8px;
  background-color: #0adcdf;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section-content {
  font-size: 16px;
}